body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
.main-image{
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
h1{
background-color:#e2e2e2;
padding:5px;

}

.section-title
{ text-align: left;
  text-transform: uppercase;

}
.list-section{

  text-align: left;


}
.cv-text{
  
text-align: left

}
